---
layout: default
---

<!-- ---------- -->
<!-- TOP SLIDER -->
<!-- ---------- -->

<div class='mod modFullscreenSlider'>
    <div class='fullscreen_slideshow' data-autostop='off'>
        <!-- <a class='sequence-prev' href='javascript:void(0);'>
            <span></span>
        </a>
        <a class='sequence-next' href='javascript:void(0);'>
            <span></span>
        </a> -->
        <!-- <ul class='sequence-pagination'>
            {% for slide in page.slides %}
            {% if forloop.first %}
            {% assign class = 'current' %}
            {% else %}
            {% assign class = '' %}
            {% endif %}
            <li class="{{class}}"></li>
            {% endfor %}
        </ul> -->
        <ul class="sequence-canvas">
            {% for slide in site.data.slides %}
            {% if forloop.first %}
            {% assign style = 'static' %}
            {% else %}
            {% assign style = '' %}
            {% endif %}

            <li class='frame centered-text {{style}}'>
                <h1>{{slide.title}}</h1>
                <p>{{slide.tagline}}</p>
                <div class='two spacing'></div>
                <!-- <div class='buttons-wrapper'>
                    {% for button in slide.buttons %}
                    <a class='button {{button.class}}' href='{{button.url}}'>{{button.text}}</a>
                    {% endfor %}
                </div> -->
                <div class='bg' style='background-image: url({{slide.bg}});'></div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<!-- --------------- -->
<!-- SECTION - ABOUT -->
<!-- --------------- -->

<a id='about'></a>
<div class='full'>
    <div class='row'>
        <div class='large-10 columns large-centered'>
            <div class='spacing'></div>
            {% include section-header.html class="alt" title="Our story" %}
            <div class='spacing'></div>
            <p class='centered-text' style='font-size: 1.55rem'>
                Our story begins in Augusta Ga. during the summer of 1980 when my father Wayne started painting homes. What he found was a passion for learning this challenging craft. My father then passed his years of experience to me his oldest son. Today I am excited about sharing his affection for painting and serving our customers.
            </p>
            <div class='two spacing'></div>
        </div>
    </div>
</div>
<div class='three spacing'></div>

<!-- ----------------------- -->
<!-- SECTION - STATS/COUNTER -->
<!-- ----------------------- -->

<div class='full parallax the-numbers' style='background-image: url(images/numbers-bg.jpg); color: #fff;'>
    <div class='row'>
        <div class='large-12 columns'>
            {% include section-header.html title="The Numbers" class="alt" title_style="color: #fff;" %}
            <div class='two spacing'></div>
        </div>
    </div>
    <div class='row'>
        <div class='medium-3 large-3 columns'>
            {% include milestone.html title="Projects Completed" from="0" to="783" icon_class="fa fa-paint-roller" %}
        </div>
        <div class='medium-3 large-3 columns'>
            {% include milestone.html title="Combined Years of Experience" from="0" to="57" icon_class="fa fa-hashtag" %}
        </div>
        <div class='medium-3 large-3 columns'>
            {% include milestone.html title="Happy Clients" from="0" to="159" icon_class="fa fa-fill" %}
        </div>
        <div class='medium-3 large-3 columns'>
            {% include milestone.html title="Rooms Painted" from="0" to="221" icon_class="fa fa-brush" %}
        </div>
    </div>
    <div class='two spacing'></div>
</div>

<!-- ------------------ -->
<!-- SECTION - SERVICES -->
<!-- ------------------ -->

<a id='services'></a>
<div class='full services' style='background: #f5f5f5'>
    <div class='row'>
        <div class='large-12 columns'>
            {% include section-header.html title="Our services" class="alt" %}
            <div class='two spacing'></div>
        </div>
    </div>
    <div class='row'>
        <div class='large-12 columns'>
            <div class='mod modBoxedTextSlider'>
                <div class='boxes'>
                    {% for service in site.data.services %}
                        <div class='box'>
                            <i class='{{ service.fa_class }}'></i>
                            <h4>{{ service.title }}</h4>
                            <p>{{ service.text }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class='four spacing'></div>
</div>

<!-- ---------------------- -->
<!-- SECTION - SERVICE AREA -->
<!-- ---------------------- -->

<div class='full parallax' style='background-image: url(images/service-area-bg.jpg); color: #fff;'>
    <div class='row'>
        <div class='large-12 columns'>
            {% include section-header.html title="Service Area" title_style="color: #fff;" class="alt" %}
            <div class='two spacing'></div>
        </div>
    </div>
    <div class='row'>
        <div class='large-2 text-center columns'>
            Appling, GA<br>
            Augusta, GA<br>
            Bath, SC<br>
            Beech Island, SC<br>
        </div>
        <div class='large-2 text-center columns'>
            Blythe, GA<br>
            Clarks Hill, SC<br>
            Clearwater, SC<br>
            Evans, GA<br>
        </div>
        <div class='large-2 text-center columns'>
            Gloverville, SC<br>
            Graniteville, SC<br>
            Grovetown, GA<br>
            Harlem, GA<br>
        </div>
        <div class='large-2 text-center columns'>
            Hephzibah, GA<br>
            Jackson, SC<br>
            Langley, SC<br>
            Martinez, GA<br>
        </div>
        <div class='large-2 text-center columns'>
            Modoc, SC<br>
            North Augusta, SC<br>
            Thomson, GA<br>
            Vaucluse, SC<br>
        </div>
        <div class='large-2 text-center columns'>
            Warrenton, GA<br>
            Warrenville, SC<br>
            Wrens, GA<br>
        </div>
    </div>
    <div class='four spacing'></div>
</div>


<!-- ----------------------------- -->
<!-- SECTION - PROJECTS / SHOWCASE -->
<!-- ----------------------------- -->

<a id='showcase'></a>
<div class='full'>
    <div class='row'>
        <div class='large-12 columns'>
            {% include section-header.html title="Project Showcase" class="alt" %}
            <div class='spacing'></div>
            <p>
                Here's a few examples of projects we've worked on recently that show a range of work we do. Select from the categories
                below to filter down to particular services we performed on each project.
            </p>
            <div class='two spacing'></div>
            <div class='mod modGallery'>
                <div class='gallery-nav'>
                    <ul>
                        <li class='current'>
                            <a data-cat='all' href='#'>All</a>
                        </li>
                        <li>
                            <a data-cat='interior' href='#'>Interior</a>
                        </li>
                        <li>
                            <a data-cat='exterior' href='#'>Exterior</a>
                        </li>
                        <li>
                            <a data-cat='walls' href='#'>Walls</a>
                        </li>
                        <li>
                            <a data-cat='trim' href='#'>Trim</a>
                        </li>
                        <li>
                            <a data-cat='doors' href='#'>Doors</a>
                        </li>
                        <li>
                            <a data-cat='patch-repair' href='#'>Patch/Repair Drywall</a>
                        </li>
                        <li>
                            <a data-cat='caulking' href='#'>Caulking</a>
                        </li>
                        <li>
                            <a data-cat='foyer' href='#'>Foyer</a>
                        </li>
                        <li>
                            <a data-cat='hard-to-reach' href='#'>Hard-to-reach Areas</a>
                        </li>
                    </ul>
                </div>
                <ul class='gallery large-block-grid-4 medium-block-grid-3 seperated small-block-grid-2'>
                    {% for project in site.data.projects %}
                    <li class='{{project.class}}'>
                        <a href='{{site.baseurl}}/projects/{{project.url}}'>
                            <img width="600" height="500" alt="" src="{{project.image}}" />
                            <div class='overlay' style='background: rgba(248, 204, 48, 0.8);'>
                                <div class='thumb-info'>
                                    <h3>{{project.title}}</h3>
                                    <p>{{project.desc}}</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class='three spacing'></div>
    <!-- <div class='row'>
    <div class='large-12 columns'>
      <p class='centered-text'>
        <a class='button' href='#'>View more works</a>
      </p>
    </div>
  </div> -->
    <div class='four spacing'></div>
</div>

<!-- ---------------------- -->
<!-- SECTION - TESTIMONIALS -->
<!-- ---------------------- -->

<div class='full parallax' style='background-image: url(images/testimonials-bg.jpg); color: #fff;'>
    <div class='row'>
        <div class='large-12 columns'>
            <p class='centered-text'>
                <i class='fa fa-quote-left' style='color: #F9CE06; font-size: 36px;'></i>
            </p>
            <div class='spacing'></div>
        </div>
    </div>
    <div class='row'>
        <div class='large-12 columns'>
            {% include section-header.html title="What our clients say" title_style="color: #fff;" class="alt" %}
            <div class='spacing'></div>
        </div>
    </div>
    <div class='row'>
        <div class='large-12 columns'>
            <div class='mod modTestimonials'>
                <div class='row'>
                    <div class='small-12 columns'>
                        <div class='items centered-text'>
                            {% for testimonial in site.data.testimonials %}
                            <div class='item'>
                                <p class='quote'>{{testimonial.quote}}</p>
                                <p class='author'>{{testimonial.author}}</p>
                                <div class='two spacing'></div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class='spacing'></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ------------------------ -->
<!-- SECTION - CALL TO ACTION -->
<!-- ------------------------ -->

{% include call-to-action.html %}

<!-- ----------------------- -->
<!-- SECTION - MEET THE TEAM -->
<!-- ----------------------- -->

<a id='team'></a>
<div class='full'>
    <div class='row'>
        <div class='large-12 columns'>
            {% include section-header.html class="alt" title="Team members" %}
            <div class='two spacing'></div>
        </div>
    </div>
    <div class='row'>
        {% for member in site.data.team %}
        <div class='small-6 medium-3 large-3 columns'>
            <div class='mod modTeamMember style-2'>
                <div class='member'>
                    <img class="avatar" width="250" height="250" alt="" src="{{member.avatar}}" />
                </div>
                <h3>{{member.name}}</h3>
                <p class='position'>{{member.position}}</p>
                <p>{{member.desc}}</p>
                <div class='two spacing'></div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class='three spacing'></div>
</div>

<!-- ----------------------- -->
<!-- SECTION - OUR CUSTOMERS -->
<!-- ----------------------- -->

<div class='full parallax' style='background-image: url(images/customers-bg.jpg); color: #fff;'>
    <div class='row'>
        <div class='large-12 columns'>
            {% include section-header.html class="alt" title_style="color: #fff;" title="Some of Our Customers" %}
            <div class='spacing'></div>
            <p>We work closely with Augusta's most prominent property management companies. These customers like to use our company to
            have their rental units re-painted. Our unique relationship allows for an extremely fast turnover of their unoccupied
            units. We have thoroughly enjoyed building a trusting working relationship with these customers. We are always looking
            to meet and take on new property management customers.</p>
            <div class='spacing'></div>
        </div>
    </div>
    <div class='row'>
        <div class='large-12 columns'>
            <div class='mod modClients' data-slides_to_show='4'>
                <div class='clients'>
                    {% for client in site.data.clients %}
                    <div>
                        <a href="{{client.url}}" target="_blank">
                            <img width="272" height="180" alt="{{client.title}}" src="{{client.image}}" />
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class='two spacing'></div>
</div>

<!-- ----------------- -->
<!-- SECTION - FAQ -->
<!-- ----------------- -->

<a id='faq'></a>
<div class='full' style='background: #f5f5f5'>
    <div class='row'>
        <div class='large-12 columns'>
            {% include section-header.html title="Frequently Asked Questions" class="alt" %}
            <div class='two spacing'></div>
        </div>
    </div>
    <div class='row'>
        {% for faq in site.data.faqs %}
        {% if forloop.index > 3 %}
            {% break %}
        {% endif %}
        <div class='large-4 medium-4 columns'>
            <div class='mod modBlogPost'>
                <a href="{{site.baseurl}}/faqs/{{faq.url}}"><img alt="" src="{{site.baseurl}}/{{faq.image}}" /></a>
                <div class='content'>
                    <h4><a href="{{site.baseurl}}/faqs/{{faq.url}}">{{faq.title}}</a></h4>
                    <p>{{faq.excerpt}}</p>
                    <p><a href="{{site.baseurl}}/faqs/{{faq.url}}">Read More <i class="fas fa-angle-double-right"></i></a></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class='two spacing'></div>
    <div class='row'>
        <div class='large-12 columns'>
            <p class='centered-text'>
                <a class='button' href='{{site.baseurl}}/faqs/index.html'>See More Frequently Asked Questions</a>
            </p>
        </div>
    </div>
    <div class='two spacing'></div>
</div>
