<div class='full no-padding' style='background: #F9CE06; color: #fff'>
    <div class='two spacing'></div>
    <div class='mod modCallToAction'>
        <div class='row'>
            <div class='large-12 columns'>
                <p class="text-center">Give us a call today for a free estimate: <span id="callToActionPhone">#</span></p>
                <script>
                    addEventListener("load", () => {
                        document.querySelector('#callToActionPhone').innerHTML = getPhoneNumber();
                    });
                </script>
            </div>
        </div>
    </div>
    <div class='spacing'></div>
</div>
<a id='team'></a>