---
layout: blog
---

<div class='full' style='background: #f5f5f5'>
    <div class='row'>
        <div class='large-9 columns'>
            <div class='mod modBlogPost big'>
                <div class='images'>
                    {% if page.image %}
                    <div class='image'><img alt="" src="{{site.url}}/{{page.image}}" /></div>
                    {% endif %}
                </div>
                <div class='content'>
                    <h3><a href="{{page.url}}">{{page.title}}</a></h3>
                    {{ content }}
                </div>
            </div>
            <div class='two spacing'></div>
        </div>
        <div class='large-3 columns' id='sidebar'>
            {% include sidebar.html %}
        </div>
    </div>
</div>